/* set variables to use throughout stylesheet */
:root {
  --header-border-color: rgb(231, 231, 210);
  --background-color: rgb(138, 194, 247);
  --text-color: #ffffff;
}

/* resets box model */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* sets background color of body element */
body {
  background-color: var(--background-color);
}

/* sets padding, font, background color and text color */
.header {
  padding: 20px;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* sets size of avatar, position, and makes it a circle */
#avatar {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
  position: relative;
  bottom: 10px;
}

/* positions and sets the color of the h1 text */
.header h1 {
  display: inline-block;
  color: var(--header-border-color);
  position: relative;
  top: 6px;
}

/* positions navbar list elements */
.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-size: 20px;
}

/* removes bullet points from navbar list elements */
.header nav ul {
  list-style-type: none;
}

/* positions list elements in navbar */
.header nav ul li {
  display: inline-block;
  margin: 0 20px;
}

/* removes default styling from links and changes color */
a {
  color: var(--text-color);
  text-decoration: none;
}

/* selects a elements that are direct children of li and
the cursor to border and gives it a bottom border */
li > a:hover {
  cursor: pointer;
  border-bottom: 5px solid var(--header-border-color);
}

/* changes the color of a link when clickec */
a:active {
  color: var(--header-border-color);
}

/* sets size of background image */
article img {
  height: 500px;
  width: 100%;
  margin-bottom: 25px;
  object-fit: cover;
}

/* changes color of all heading text and gives it some space */
.heading {
  color: var(--header-border-color);
  margin: 8px;
}

/* sets a bottom border for each of the portfolio sections */
.portfolio-section {
  border-bottom: 5px solid var(--header-border-color);
}

/* styles the typography of paragraph elements
in the about me section */
#about-me p {
  padding: 20px;
  margin-left: -15px;
  font-family: Verdana, Tahoma, Arial, sans-serif;
  font-size: 18px;
  width: 100%;
  line-height: 1.5;
  color: var(--text-color);
}

/* sets size of placeholder images,
turns it into flexbox container, wraps
on smaller screens */
#stock-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px;
}

/* gives placeholder images some space */
#stock-images img {
  margin: 15px;
}

/* sets cursor to pointer, sets a border around
img elements, and increases size when hovering */
#stock-images img:hover {
  cursor: pointer;
  border: 5px solid var(--header-border-color);
  height: 350px;
  width: 350px;
}

/* makes contact elements and flex container */
#contact ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 10px;
}

/* gives contact list elements some space */
#contact ul li {
  margin-bottom: 10px;
}

/* sets page for smaller screen */
@media screen and (max-width: 576px) {
    .container {
      display: flex;
      flex-direction: column;
    }

    .portfolio-section {
      display: flex;
      flex-direction: column;
    }

    #about-me p {
      width: 100%;
    }

    .heading {
      text-align: center;
    }

    h1 {
      margin-left: 60px;
    }
}