* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(138, 194, 247);
}

.header {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(138, 194, 247);
  color: #ffffff;
}

.header h1 {
  display: inline-block;
  color: rgb(231, 231, 210);
}

.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  margin: 0 20px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

article img {
  height: 500px;
  width: 100%;
  margin-bottom: 25px;
  object-fit: cover;
}

.heading {
  color: rgb(231, 231, 210);
}

#about-me {
  border: solid black;
}

#work {
  border: solid black;
}

#contact {
  border: solid black;
}

#about-me p {
  padding: 20px;
  margin-left: -15px;
  font-size: 18px;
  width: 50%;
  line-height: 1.5;
  color: #ffffff;
}

.heading {
  margin: 10px;
}

#stock-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px;
}

#stock-images img {
  margin: 10px;
}

#contact ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 10px;
}

#contact ul li {
  margin-bottom: 10px;
}