* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {

}

a {
    
}

nav h1 {

}

nav ul {

}

article img {

}

main {

}

#about-me {

}

#about-me p {

}

#work {

}

#stock-images {

}

#contact {

}

.content-aside {

}

.heading {

}